<div class="video-overlay {{if this.videoService.overlayIsVisible 'visible'}}">
  <div
    class="video-container"
    {{click-outside
      (if this.videoService.overlayIsVisible this.videoService.stopVideo (noop))
    }}
  >
    <video
      src=""
      width="100%"
      height="100%"
      {{did-insert this.registerVideoElement}}
    ></video>
  </div>
</div>